[alias]
	br = branch
	cm = commit -v
	cmm = commit -m
	cam = commit -a -m
	co = checkout
	fetch = fetch -p
	gr = reset --hard HEAD
	logg = log --oneline --graph --color --decorate --all
	logo = log --oneline
	st = status -s
	
[diff]
        compactionHeuristic = true
        tool = kdiff3

[push]
	default = current

[merge]
	tool = kdiff3

[mergetool "kdiff3"]
	path = "/usr/local/bin/kdiff3"

[difftool "kdiff3"]
	path = "/usr/local/bin/kdiff3"
